{{>bootstraphead}}

<body onload="myfunc()">
    <div class="main">
        <div class="layout">
            <div class="sidebar">
                <div class="logo">
                    <h6 class="text-light">DOC APP</h6>
                    <hr />
                </div>
                <div class="menu">

                    {{>adminsidebar}}

                </div>
            </div>
            <div class="content">
                <div class="header">
                    <div class="header-content">



                        <a href="/profile">{{email}}</a>
                    </div>
                </div>
                <div class="body">
                    <h1>User Reports</h1>
                    <div class="container">
                        <div class="row" id="rowdata">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    const myfunc = async () => {
        const rowdata = document.getElementById('rowdata')
        let p = await fetch('http://localhost:9000/userreportapi')
        let parsedata = await p.json()
       
        let results = ''
        for (let i = 0; i < parsedata.length; i++) {
            results += `
            <div class="col-md-4">
             <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">${parsedata[i].firstname} ${parsedata[i].lastname}</h5>
    <p class="card-text">${parsedata[i].email}</p>
    <h5 class="card-title">${parsedata[i].phone}</h5>
    <p class="card-text">${parsedata[i].age}</p> 
    <a href="/userreport/${parsedata[i]._id}" class="btn btn-primary">View User Report</a>
  </div>
</div>
            </div>
            `
        }
     rowdata.innerHTML=results

    }
</script>
{{>bootstrapscripts}}
{{>sidebarstyle}}

</html>